.cart-widget {
    position: relative;
    cursor: pointer;
    color: #fff;
    display: flex;
    align-items: center;
    margin-left: auto; /* Empuja el widget hacia la derecha en la Navbar */
  }
  
  .cart-icon {
    font-size: 18px;
  }
  
  .cart-count {
    position: absolute;
    top: -5px;
    right: -10px;
    background-color: brown;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
  }